.label {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.input {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}
